.title {
  margin: 0 auto 12px;
  font-size: 2rem;
  padding: 8px;
  text-align: center;
  color: teal;
  position: relative;
}

.title::after {
  content: "";
  width:20%;
  height: 4px;/* slight higher to work around rounding errors(?) on some zoom levels in some browsers. */
  background-color:teal;
  position: absolute;
  left: 35%;
  bottom: -3px;
  border-radius: 5px;
}
